header {
        width: 100%;

        background-color: white;
    }

    nav{
        margin-top: 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: 1px solid #434a5be1;
    }

    ul{
        list-style: none;
        display: flex;
        column-gap: 75px;
    }

    a{
        color: black;
        text-decoration: none;
    }

    .personal_logo:hover{
        cursor:pointer
    }

    .icon_logo{
        padding-block: 10px;
    }

    .llista_categories li{
        position: relative;
        display: inline;
        font-weight: bold;
        margin-inline: 24px;
        padding-block: 5px;
        padding-inline: 6px;
    }


    .container_categories{
        display: flex;
        align-items: center;
        margin-inline: 140px;
    }

    .download_cv{
        display: flex;
        align-items: center;
    }

    button {
        font-family:  'Quicksand', sans-serif;
        background-color: white;
        border: 2px solid black;
        border-radius: 6px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        padding: 10px 25px;
    }

    button:hover{
        border: 2px solid #FF2424;
        color: #FF2424;
        margin-bottom: 3px;
        transition: cubic-bezier();
    }

    .icon_logo .download_cv{
        width: 200px;
        margin-inline: 45px;
    }


    /* ANIMATIONS
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
    .menu[data-animation="center"] a::before {
        transform-origin: center;
    }

    .llista_categories li {
        position: relative;
        display: flex;
        padding: 5px;
    }

    .menu a {
        position: relative;
        display: block;
        padding: 5px;
        font-weight: bold;
    }

    .menu a::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1.5px;
        border-radius: 8px;
        background: #FF2424;
        z-index: 1;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.5s ease-in-out;
    }

    .menu a:hover::before {
        transform: scaleX(1);
    }