@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*{
    font-family: 'Quicksand', sans-serif;    
    margin: 0;
    padding: 0;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container_titol[data-animation="center"] a::before {
    transform-origin: center;
}

h2 {
    position: relative;
    display: block;
    padding: 5px;
    font-weight: bold;
}

h2::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.8px;
    background: #FF2424;
    border-radius: 8px;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

h2:hover::before {
    transform: scaleX(1);
}