@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*{
    font-family: 'Quicksand', sans-serif;    
}


/* ----------- ANIMATIONS ----------- */
.container_titol[data-animation="center"] a::before {
    transform-origin: center;
}


/* ----------- LEFTHOVER ELEMENTS HABILITIES GRID ----------- */


.center-lefthovers:last-child:nth-child(3n - 1) {
    grid-column-end: -2;
}

.center-lefthovers:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: 4;
}
