@keyframes typing {
    from {
        width: 0
    }
}
    
@keyframes blink {
    50% {
        border-color: transparent
    }
}


h1{
    background-clip: text;
    -webkit-background-clip: text;
    animation: typing 3s steps(11), blink .5s step-end infinite alternate;
    white-space: nowrap;
}

