---
import Layout from "../components/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Inicio from "../components/Inicio.astro";
import Habilidades from "../components/Habilidades.astro";
import Proyectos from "../components/Proyectos.astro";
import Contacto from "../components/Contacto.astro";
---

<Layout>
    <Navbar />
    <div class="relative flex flex-col items-center justify-center">
        <Inicio />
        <Habilidades />
        <Proyectos />
        <Contacto />
    </div>
    <Footer />
</Layout>
