---
import '../styles/styles_contacto.css';
---

<section id="contacto" class="seccio">

    <div class="container_titol" data-animation="center">     
        <a href="#contacto"><h2 class="title">CONTACTO</h2></a>
    </div>
    
    <form class="contact_form" action="https://formsubmit.co/acasasbarco@gmail.com" method="POST">
        <div class="parameter">
            <label class="label" for="name">Nombre</label>
            <input class="input-text" name="Nom" type="text" required>
        </div>
        <div class="parameter">
            <label class="label" for="email">Correo Electrónico</label>
            <input class="input-text" name="Correu" type="email" required>
        </div>
        <div class="parameter">
            <label class="label" for="message">Mensaje</label>
            <textarea class="input-text" cols="50" id="message" name="Missatge" required="<%= true %>" rows="4"></textarea>
        </div>
        <div class="form-field col x-100 align-center">
            <input class="submit-btn" type="submit" value="Enviar">
        </div>
        <input type="hidden" name="_next" value="http://localhost:3000">
        <input type="hidden" name="_captcha" value="false">
    </form>

</section>