<section id="contacto" class="w-9/12 mx-10 my-16 flex flex-col items-center content-center">

    <div class="container_titol" data-animation="center">     
        <a href="#contacto" class="no-underline text-black" ><h2 class="uppercase pl-2 my-8 bold pb-2 [letter-spacing:10px] text-2xl">CONTACTO</h2></a>
    </div>
    
    <form class="w-3/5 mt-8 flex flex-col items-center" action="https://formsubmit.co/acasasbarco@gmail.com" method="POST">
        <div class="my-3 w-full">
            <label for="name">Nombre</label>
            <input class="block w-full h-9 border-b-2 border-black text-base text-black leading-6 pb-3 my-0.5 outline-none" name="Nom" type="text" required>
        </div>
        <div class="my-3 w-full">
            <label for="email">Correo Electrónico</label>
            <input class="block w-full h-9 border-b-2 border-black text-base text-black leading-6 pb-3 my-0.5 outline-none" name="Correu" type="email" required>
        </div>
        <div class="my-3 w-full">
            <label for="message">Mensaje</label>
            <textarea class="block w-full h-28 border-b-2 border-black text-base text-black leading-6 pb-3 my-0.5 outline-none " cols="50"  name="Missatge" required="<%= true %>" rows="4"></textarea>
        </div>
        <div class="form-field col x-100 align-center">
            <input class="bg-black text-white uppercase py-3 px-8 border-none cursor-pointer hover:bg-[#686767] tracking-[5px]" type="submit" value="Enviar">
        </div>
        <input type="hidden" name="_next" value="http://localhost:3000">
        <input type="hidden" name="_captcha" value="false">
    </form>

</section>
