<section id="estudios" class="w-9/12 mx-10 my-16 flex flex-col items-center content-center">

    <div class="container_titol" data-animation="center">     
        <a href="#estudios" class="no-underline text-black"><h2 class="uppercase pl-2 my-8 bold pb-2 [letter-spacing:10px] text-2xl">Estudios</h2></a>
    </div>

</section>
