<section
    id="estudios"
    class="mx-10 my-16 flex w-9/12 flex-col content-center items-center"
>
    <div class="container_titol" data-animation="center">
        <a
            href="#estudios"
            class="relative my-8 block p-1 pl-2 pb-2 text-2xl font-bold uppercase [letter-spacing:10px] before:absolute before:bottom-0 before:left-0 before:z-[1] before:h-[1.8px] before:w-full before:origin-center before:scale-0 before:transform before:rounded-lg before:bg-[#FF2424] before:transition before:duration-500 before:ease-in-out before:content-[''] hover:before:scale-100"
        >
            <h2>Estudios</h2>
        </a>
    </div>
</section>
