<footer class="bg-[#434a5be1] text-white">
    <div class="sticky mt-12 flex w-full flex-col content-center items-center">
        <div class="mt-8 flex flex-col items-center">
            <a href="/">
                <img
                    class="personal_logo h-52"
                    src="../../img/horizontal_logo_inverted.webp"
                    alt=""
                />
            </a>
        </div>

        <div class="mt-10">
            <ul class="flex flex-row gap-24 px-8">
                <a
                    href="https://www.instagram.com/aleixcaasas/"
                    target="_blank"
                >
                    <li class="bold inline px-5">
                        <img
                            class="hover:cursor-pointer hover:opacity-50 hover:brightness-50"
                            src="../../img/instagram.webp"
                            alt=""
                            width="50px"
                        />
                    </li>
                </a>
                <a href="https://twitter.com/aleixcaasas" target="_blank">
                    <li class="bold inline px-5">
                        <img
                            class="hover:cursor-pointer hover:opacity-50 hover:brightness-50"
                            src="../../img/twitter.webp"
                            alt=""
                            width="50px"
                        />
                    </li>
                </a>
                <a href="https://github.com/aleixcaasas" target="_blank">
                    <li class="bold inline px-5">
                        <img
                            class="hover:cursor-pointer hover:opacity-50 hover:brightness-50"
                            src="../../img/github.webp"
                            alt=""
                            width="50px"
                        />
                    </li>
                </a>
                <a
                    href="https://www.linkedin.com/in/aleix-casas-203a30264/"
                    target="_blank"
                >
                    <li class="bold inline px-5">
                        <img
                            class="hover:cursor-pointer hover:opacity-50 hover:brightness-50"
                            src="../../img/linkedin.webp"
                            alt=""
                            width="50px"
                        />
                    </li>
                </a>
            </ul>
        </div>

        <div class="my-4 text-base">
            <p>
                &copy; Aleix Casas Barco - Todos los derechos reservados - 2023
            </p>
        </div>
    </div>
</footer>
