<footer class="text-white bg-[#434a5be1]">
    <div class="sticky mt-12 w-full flex flex-col items-center content-center">

        <div class="mt-8 flex flex-col items-center"> 
            <a href="/"> <img class="personal_logo h-52 " src="../../img/horizontal_logo_inverted.png" alt=""> </a>
        </div>

        <div class="mt-10">
            <ul class="flex flex-row px-8 gap-24">
                <a href="https://www.instagram.com/aleixcaasas/" target="_blank">
                    <li class="inline bold px-5" ><img class="hover:cursor-pointer hover:brightness-50 hover:opacity-50" src="../../img/instagram.svg" alt="" width="50px"></li>
                </a>
                <a href="https://twitter.com/aleixcaasas" target="_blank">
                    <li class="inline bold px-5" ><img class="hover:cursor-pointer hover:brightness-50 hover:opacity-50" src="../../img/twitter.svg" alt="" width="50px"></li>
                </a>
                <a href="https://github.com/aleixcaasas" target="_blank">
                    <li class="inline bold px-5" ><img class="hover:cursor-pointer hover:brightness-50 hover:opacity-50" src="../../img/github.svg" alt="" width="50px"></li>
                </a>
                <a href="https://www.linkedin.com/in/aleix-casas-203a30264/" target="_blank">
                    <li class="inline bold px-5" ><img class="hover:cursor-pointer hover:brightness-50 hover:opacity-50" src="../../img/linkedin.svg" alt="" width="50px"></li>
                </a>
            </ul>
        </div>
    
        <div class="text-base my-4">
            <p>&copy; Aleix Casas Barco - Todos los derechos reservados - 2023</p>
        </div>
    </div>
</footer>