---
import '../styles/styles_footer.css';
---

<footer>
    <div class="foot">

        <div class="presentation"> 
            <a href="/"> <img class="personal_logo" src="../../img/horizontal_logo_inverted.png" alt="" height="200px"> </a>
        </div>

        <div class="social">
            <ul class="apps">
                <a href="https://www.instagram.com/aleixcaasas/" target="_blank"><li class="social_app" ><img class="app" src="../../img/instagram.svg" alt="" width="50px"></li></a>
                <a href="https://twitter.com/aleixcaasas" target="_blank"><li class="social_app" ><img class="app" src="../../img/twitter.svg" alt="" width="50px"></li></a>
                <a href="https://github.com/aleixcaasas" target="_blank"><li class="social_app" ><img class="app" src="../../img/github.svg" alt="" width="50px"></li></a>
                <a href="https://www.linkedin.com/in/aleix-casas-203a30264/" target="_blank"><li class="social_app" ><img class="app" src="../../img/linkedin.svg" alt="" width="50px"></li></a>
            </ul>
        </div>
    
        <div class="derechos">
            <p>&copy; Aleix Casas Barco - Todos los derechos reservados - 2023</p>
        </div>
    </div>
</footer>