---
import '../styles/styles_habilidades.css';
---

<section id="habilidades" class="w-9/12 mx-10 my-16 flex flex-col items-center content-center">

    <div class="container_titol" data-animation="center">     
        <a href="#habilidades" class="no-underline text-black"><h2 class="uppercase pl-2 my-8 bold pb-2 [letter-spacing:10px] text-2xl">Habilidades</h2></a>
    </div>


    <div class="container_habilidades">
        <div class="habilidad">
            <img class="h-24" src="../../img/coloured_tecnologies/html-5.png" alt="">
            <span>HTML</span>
        </div>
        <div class="habilidad">
            <img class="h-24" src="../../img/coloured_tecnologies/css-3.png" alt="" >
            <span>CSS</span>
        </div>
        <div class="habilidad">
            <img class="h-24" id="js" src="../../img/coloured_tecnologies/javascript.png" alt="" >
            <span>JavaScript</span>
        </div>
        <div class="habilidad">
            <img class="h-24" src="../../img/coloured_tecnologies/astro.svg" alt="" >
            <span>Astro</span>
        </div>
        <div class="habilidad">
            <img class="h-24" src="../../img/coloured_tecnologies/tailwind-css.png" alt="" >
            <span>Tailwind CSS</span>
        </div>
        <div class="habilidad">
            <img class="h-24" src="../../img/coloured_tecnologies/c++.png" alt="" >
            <span>C++</span>
        </div>
        <div class="habilidad">
            <img class="h-24" src="../../img/coloured_tecnologies/java.png" alt="" >
            <span>Java</span>
        </div>
        <div class="habilidad">
            <img class="h-24" src="../../img/coloured_tecnologies/python.png" alt="">
            <span>Python</span>
        </div>
        <div class="habilidad">
            <img class="h-24" src="../../img/coloured_tecnologies/postgreSQL.png" alt="" >
            <span>SQL</span>
        </div>
        <div class="habilidad">
            <img class="h-24" src="../../img/coloured_tecnologies/mongodb.png" alt="" >
            <span>MongoDB</span>
        </div>
        <div class="habilidad">
            <img class="h-24" src="../../img/coloured_tecnologies/git.png" alt="" >
            <span>Git</span>
        </div>
    </div>
</section>
