---
import '../styles/styles_habilidades.css';
---

<section id="habilidades">

    <div class="container_titol" data-animation="center">     
        <a href="#habilidades"><h2 class="title">Habilidades</h2></a>
    </div>


    <div class="container_habilidades">
        <div class="habilidad">
            <img src="../../img/coloured_tecnologies/html-5.png" alt="" height="100px">
            <span>HTML</span>
        </div>
        <div class="habilidad">
            <img src="../../img/coloured_tecnologies/css-3.png" alt="" height="100px">
            <span>CSS</span>
        </div>
        <div class="habilidad">
            <img id="js" src="../../img/coloured_tecnologies/javascript.png" alt="" height="100px">
            <span>JavaScript</span>
        </div>
        <div class="habilidad">
            <img src="../../img/coloured_tecnologies/astro.svg" alt="" height="100px">
            <span>Astro</span>
        </div>
        <div class="habilidad">
            <img src="../../img/coloured_tecnologies/tailwind-css.png" alt="" height="100px">
            <span>Tailwind CSS</span>
        </div>
        <div class="habilidad">
            <img src="../../img/coloured_tecnologies/c++.png" alt="" height="100px">
            <span>C++</span>
        </div>
        <div class="habilidad">
            <img src="../../img/coloured_tecnologies/java.png" alt="" height="100px">
            <span>Java</span>
        </div>
        <div class="habilidad">
            <img src="../../img/coloured_tecnologies/python.png" alt="" height="100px">
            <span>Python</span>
        </div>
        <div class="habilidad">
            <img src="../../img/coloured_tecnologies/postgreSQL.png" alt="" height="100px">
            <span>SQL</span>
        </div>
        <div class="habilidad">
            <img src="../../img/coloured_tecnologies/mongodb.png" alt="" height="100px">
            <span>MongoDB</span>
        </div>
        <div class="habilidad">
            <img src="../../img/coloured_tecnologies/git.png" alt="" height="100px">
            <span>Git</span>
        </div>
    </div>
</section>
