---
import '../styles/styles_inicio.css';
---

<section id="inicio" class="w-9/12 mx-10 my-16 flex flex-col items-center content-center">
    <div class="container_inicio">
        <div class="container_text">
            <span>Hola, soy</span>
            <div class="typewriter">
                <h1>Aleix Casas</h1>
            </div>
            <h4>Estudiante de Ingeniería Informática apasionado por la tecnología y la programación.</h4>
            <p>Siempre estoy aprendiendo nuevas tecnologías y buscando nuevas formas de mejorar mis proyectos.</p>
            <div class="container_contactame">
                <button>Contáctame <img class="h-4" src="../../img/envelope.png" alt=""></button>
                <a href="https://github.com/aleixcaasas" target="_blank"><img  class="w-10" src="../../img/github.svg" alt=""></a>
                <a href="https://www.linkedin.com/in/aleix-casas-203a30264/" target="_blank"><img class="w-10" src="../../img/linkedin.svg" alt="" ></a>
            </div>
        </div>

        <picture class="personal_photo">
            <img class="w-64" src="../../img/fotoCarnet.png" alt="">
        </picture>
    </div>

</section>
