<section id="inicio" class="w-9/12 mx-10 my-16 flex flex-col items-center content-center mb-12">
    <div class="flex flex-row items-center justify-center bg-[#eff6ff] rounded-2xl relative mt-7 p-10 text-[#444] shadow-lg shadow-zinc-300 trnasition duration-500 ease-in-out scale-110 hover:scale-[1.12] hover:transition hover:duration-500 hover:ease-in-out">
        <div class="mr-16 max-w-[600px] "> 
            <span>Hola, soy</span>
            <div>
                <h1 class="text-7xl font-bold tracking-wider font-['Black Ops One'] bg-gradient-to-r from-[#FF2424] to-[#434a5be1] text-transparent bg-clip-text w-[11ch] my-3 font-BOP">Aleix Casas</h1>
            </div>

            <h4 class="max-w-[60ch] text-xl mb-4 font-BOP">Estudiante de Ingeniería Informática apasionado por la tecnología y la programación.</h4>
            <p class="max-w-[60ch] text-justify">Siempre estoy aprendiendo nuevas tecnologías y buscando nuevas formas de mejorar mis proyectos.</p>
            <div class="flex flex-row items-center justify-center gap-x-3 mt-4">
                <button class="bg-white flex items-center gap-x-2 rounded-md border-2 border-solid border-black font-bold cursor-pointer py-3 px-6 mt-1 mr-5 hover:border-[#FF2424] hover:text-[#FF2424] hover:transition">Contáctame<img class="h-4" src="../../img/envelope.png" alt=""></button>
                <a class="mr-4 hover:cursor-pointer hover:opacity-50 hover:drop-shadow-[white] hover:brightness-50" href="https://github.com/aleixcaasas" target="_blank"><img class="w-10" src="../../img/github.svg" alt=""></a>
                <a class=" hover:cursor-pointer hover:opacity-50 hover:drop-shadow-[white] hover:brightness-50" href="https://www.linkedin.com/in/aleix-casas-203a30264/" target="_blank"><img class="w-10" src="../../img/linkedin.svg" alt="" ></a>
            </div>
        </div>

        <picture class="personal_photo">
            <img class="w-64 rounded-[40px]" src="../../img/fotoCarnet.png" alt="">
        </picture>
    </div>

</section>