<section
    id="inicio"
    class="mx-10 my-16 mb-12 flex w-9/12 flex-col content-center items-center"
>
    <div
        class="trnasition relative mt-7 flex scale-110 flex-row items-center justify-center rounded-2xl bg-[#eff6ff] p-10 text-[#444] shadow-lg shadow-zinc-300 duration-500 ease-in-out hover:scale-[1.12] hover:transition hover:duration-500 hover:ease-in-out"
    >
        <div class="mr-16 max-w-[600px]">
            <span>Hola, soy</span>
            <div>
                <h1
                    class="font-['Black Ops One'] font-BOP my-3 w-[11ch] bg-gradient-to-r from-[#FF2424] to-[#434a5be1] bg-clip-text text-7xl font-bold tracking-wider text-transparent"
                >
                    Aleix Casas
                </h1>
            </div>

            <h4 class="font-BOP mb-4 max-w-[60ch] text-xl">
                Estudiante de Ingeniería Informática apasionado por la
                tecnología y la programación.
            </h4>
            <p class="max-w-[60ch] text-justify">
                Siempre estoy aprendiendo nuevas tecnologías y buscando nuevas
                formas de mejorar mis proyectos.
            </p>
            <div class="mt-4 flex flex-row items-center justify-center gap-x-3">
                <button
                    class="mt-1 mr-5 flex cursor-pointer items-center gap-x-2 rounded-md border-2 border-solid border-black bg-white py-3 px-6 font-bold hover:border-[#FF2424] hover:text-[#FF2424] hover:transition"
                    >Contáctame<img
                        class="h-4"
                        src="../../img/envelope.png"
                        alt=""
                    /></button
                >
                <a
                    class="mr-4 hover:cursor-pointer hover:opacity-50 hover:brightness-50 hover:drop-shadow-[white]"
                    href="https://github.com/aleixcaasas"
                    target="_blank"
                    ><img class="w-10" src="../../img/github.svg" alt="" /></a
                >
                <a
                    class="hover:cursor-pointer hover:opacity-50 hover:brightness-50 hover:drop-shadow-[white]"
                    href="https://www.linkedin.com/in/aleix-casas-203a30264/"
                    target="_blank"
                    ><img class="w-10" src="../../img/linkedin.svg" alt="" /></a
                >
            </div>
        </div>

        <picture class="personal_photo">
            <img
                class="w-64 rounded-[40px]"
                src="../../img/fotoCarnet.png"
                alt=""
            />
        </picture>
    </div>
</section>
