---
import '../styles/styles_inicio.css'
---

<section id="inicio">
    <div class="container_inicio">
        <div class="container_text">
            <span>Hola, soy</span>
            <div class="typewriter">
                <h1>Aleix Casas</h1>
            </div>
            <h4>Estudiante de Ingeniería Informática apasionado por la tecnología y la programación.</h4>
            <p>Siempre estoy aprendiendo nuevas tecnologías y buscando nuevas formas de mejorar mis proyectos.</p>
            <div class="container_contactame">
                <button>Contáctame <img src="../../img/envelope.png" height="18px" alt=""></button>
                <a href="https://github.com/aleixcaasas" target="_blank"><img  src="../../img/github.svg" alt="" width="40px"></a>
                <a href="https://www.linkedin.com/in/aleix-casas-203a30264/" target="_blank"><img  src="../../img/linkedin.svg" alt="" width="40px"></a>
            </div>
        </div>

        <picture class="personal_photo">
            <img src="../../img/fotoCarnet.png" alt="" width="250px">
        </picture>
    </div>

</section>
