---
import "../styles/styles.css";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="icon" href="img/small_logo.webp" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Quicksand&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&display=swap"
            rel="stylesheet"
        />
        <link href="styles.css" rel="stylesheet" />
        <link href="tailwind_styles.css" rel="stylesheet" />

        <!-- Swiper CSS -->
        <link rel="stylesheet" href="swiper-bundle.min.css" />

        <title>Aleix Casas | Portfolio</title>
    </head>
    <body class="m-0 p-0">
        <slot />

        <!-- Swiper JS -->
        <script src="../js/swiper.js"></script>
        <script src="../js/swiper-bundle.min.js"></script>
    </body>
</html>
