<header class="w-full bg-white">
    <nav class="flex flex-row justify-center border-b-[#434a5be1] border-b-[1px] border-solid">
        <div class="py-3">
            <a href="/"> <img class="hover:cursor-pointer h-16" src="../../img/horizontal_logo.png" alt=""> </a>
        </div>
        <div class="flex items-center mx-36">
            <ul class=" list-none flex gap-x-16 menu" data-animation="center">
                <a class="text-black decoration-0 relative block p-1 font-bold before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:h-[1.5px] before:rounded-lg before:bg-[#FF2424] before:z-[1] before:scale-0 before:origin-center before:transition before:transform before:duration-500 before:ease-in-out hover:before:scale-100" href="#inicio"><li class="relative inline font-bold p-1">INICIO</li></a>

                <a class="text-black decoration-0 relative block p-1 font-bold before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:h-[1.5px] before:rounded-lg before:bg-[#FF2424] before:z-[1] before:scale-0 before:origin-center before:transition before:transform before:duration-500 before:ease-in-out hover:before:scale-100" data-animation="center" href="#estudios"><li class="relative inline font-bold p-1">ESTUDIOS</li></a>
                
                <a class="text-black decoration-0 relative block p-1 font-bold before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:h-[1.5px] before:rounded-lg before:bg-[#FF2424] before:z-[1] before:scale-0 before:origin-center before:transition before:transform before:duration-500 before:ease-in-out hover:before:scale-100" data-animation="center" href="#habilidades"><li class="relative inline font-bold p-1">HABILIDADES</li></a>
                
                <a class="text-black decoration-0 relative block p-1 font-bold before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:h-[1.5px] before:rounded-lg before:bg-[#FF2424] before:z-[1] before:scale-0 before:origin-center before:transition before:transform before:duration-500 before:ease-in-out hover:before:scale-100" data-animation="center" href="#proyectos"><li class="relative inline font-bold  p-1">PROYECTOS</li></a>
                
                <a class="text-black decoration-0 relative block p-1 font-bold before:content-[''] before:absolute before:bottom-0 before:left-0 before:w-full before:h-[1.5px] before:rounded-lg before:bg-[#FF2424] before:z-[1] before:scale-0 before:origin-center before:transition before:transform before:duration-500 before:ease-in-out hover:before:scale-100" data-animation="center" href="#contacto"><li class="relative inline font-bold p-1">CONTACTO</li></a>

            </ul>
        </div>
        <div class="flex items-center">
            <button class="bg-white border-2 border-solid border-black rounded-md font-bold cursor-pointer py-3 px-6 hover:border-[#FF2424] hover:text-[#FF2424] hover:mb-1 hover:transition h-10" type="submit" onclick="window.open('CV_Aleix_Casas.pdf')">Descargar CV</button>
        </div>
    </nav>
</header>
