---
import '../styles/styles_navbar.css';
---

<header id="inicio">
    <nav>
        <div class="icon_logo">
            <a href="/"> <img class="personal_logo" src="../../img/horizontal_logo.png" alt="" height="70px"> </a>
        </div>
        <div class="container_categories">
            <ul class="menu" data-animation="center">
                <a class="cat" href="#inicio"><li>INICIO</li></a>
                <a class="cat" data-animation="center" href="#estudios"><li>ESTUDIOS</li></a>
                <a class="cat" data-animation="center" href="#habilidades"><li>HABILIDADES</li></a>
                <a class="cat" data-animation="center" href="#proyectos"><li>PROYECTOS</li></a>
                <a class="cat" data-animation="center" href="#contacto"><li>CONTACTO</li></a>
            </ul>
        </div>
        <div class="download_cv">
            <button type="submit" onclick="window.open('CV_Aleix_Casas.pdf')">Descargar CV</button>
        </div>
    </nav>
</header>
