<header class="w-full bg-white">
    <nav
        class="flex flex-row justify-center border-b-[1px] border-solid border-b-[#434a5be1]"
    >
        <div class="py-3">
            <a href="/">
                <img
                    class="h-16 hover:cursor-pointer"
                    src="img/horizontal_logo.webp"
                    alt=""
                />
            </a>
        </div>
        <div class="mx-36 flex items-center">
            <ul class="menu flex list-none gap-x-16" data-animation="center">
                <a
                    class="relative block p-1 font-bold text-black decoration-0 before:absolute before:bottom-0 before:left-0 before:z-[1] before:h-[1.5px] before:w-full before:origin-center before:scale-0 before:transform before:rounded-lg before:bg-[#FF2424] before:transition before:duration-500 before:ease-in-out before:content-[''] hover:before:scale-100"
                    href="#inicio"
                >
                    <li class="relative inline p-1 font-bold">INICIO</li></a
                >

                <a
                    class="relative block p-1 font-bold text-black decoration-0 before:absolute before:bottom-0 before:left-0 before:z-[1] before:h-[1.5px] before:w-full before:origin-center before:scale-0 before:transform before:rounded-lg before:bg-[#FF2424] before:transition before:duration-500 before:ease-in-out before:content-[''] hover:before:scale-100"
                    data-animation="center"
                    href="#habilidades"
                >
                    <li class="relative inline p-1 font-bold">
                        HABILIDADES
                    </li></a
                >

                <a
                    class="relative block p-1 font-bold text-black decoration-0 before:absolute before:bottom-0 before:left-0 before:z-[1] before:h-[1.5px] before:w-full before:origin-center before:scale-0 before:transform before:rounded-lg before:bg-[#FF2424] before:transition before:duration-500 before:ease-in-out before:content-[''] hover:before:scale-100"
                    data-animation="center"
                    href="#proyectos"
                >
                    <li class="relative inline p-1 font-bold">PROYECTOS</li></a
                >

                <a
                    class="relative block p-1 font-bold text-black decoration-0 before:absolute before:bottom-0 before:left-0 before:z-[1] before:h-[1.5px] before:w-full before:origin-center before:scale-0 before:transform before:rounded-lg before:bg-[#FF2424] before:transition before:duration-500 before:ease-in-out before:content-[''] hover:before:scale-100"
                    data-animation="center"
                    href="#contacto"
                >
                    <li class="relative inline p-1 font-bold">CONTACTO</li></a
                >
            </ul>
        </div>
        <div class="flex items-center">
            <button
                class="flex h-10 cursor-pointer items-center rounded-md border-2 border-solid border-black bg-white py-3 px-6 font-bold hover:mb-1 hover:border-[#FF2424] hover:text-[#FF2424] hover:transition"
                type="submit"
                onclick="window.open('CV_Aleix_Casas.pdf')">Descargar CV</button
            >
        </div>
    </nav>
</header>
