<section id="proyectos">

    <a href="#proyectos"><h2 class="title">Proyectos</h2></a>

</section>

<style>

    section{
        margin-block: 50px;
    }

    a{
        text-decoration: none;
        color: #000;
    }

    .title{
        text-transform: uppercase;
        letter-spacing: 10px;
        padding-left: 10px;
        margin-block: 30px;
        font-weight: bold;
        padding-bottom: 7px;
        border-bottom: 2px solid #FF2424;
    }


</style>